-
   var bower = '../bower_components';
   var styles = '../styles';
//- Iron elements
link(rel='import'
     href='#{bower}/iron-flex-layout/classes/iron-flex-layout.html')
link(rel='import'
     href='#{bower}/iron-icons/iron-icons.html')
link(rel='import'
     href='#{bower}/iron-pages/iron-pages.html')
link(rel='import'
     href='../#{bower}/iron-ajax/iron-ajax.html')
link(rel='import'
     href='#{bower}/iron-selector/iron-selector.html')


//- Paper elements
link(rel='import'
     href='#{bower}/paper-drawer-panel/paper-drawer-panel.html')
link(rel='import'
     href='#{bower}/paper-icon-button/paper-icon-button.html')
link(rel='import'
     href='#{bower}/paper-input/paper-input-container.html')
link(rel='import'
     href='#{bower}/paper-item/paper-item.html')
link(rel='import'
     href='#{bower}/paper-material/paper-material.html')
link(rel='import'
     href='#{bower}/paper-menu/paper-menu.html')
link(rel='import'
     href='#{bower}/paper-scroll-header-panel/paper-scroll-header-panel.html')
link(rel='import'
     href='#{bower}/paper-styles/paper-styles-classes.html')
link(rel='import'
     href='#{bower}/paper-toast/paper-toast.html')
link(rel='import'
     href='#{bower}/paper-toolbar/paper-toolbar.html')


//- firebase
link(rel='import'
     href='#{bower}/firebase-element/firebase-collection.html')


//- Uncomment next block to enable Service Worker Support (2/2)
//- link(rel='import'
     href='#{bower}/platinum-sw/platinum-sw-cache.html')
//- link(rel='import'
     href='#{bower}/platinum-sw/platinum-sw-register.html')

//- Configure your routes here
link(rel='import'
     href='routing.html')

//- styles
link(rel='import'
     href='#{styles}/app-theme.html')
link(rel='import'
     href='#{styles}/shared-styles.html')

//- Add your elements here
link(rel='import'
     href='user-info/user-info.html')
link(rel='import'
     href='user-list/user-list.html')
link(rel='import'
     href='ccc-voting/ccc-voting.html')
link(rel='import'
     href='ccc-login/ccc-login.html')
