- var bower = '../../bower_components'
link(rel='import'
     href='#{bower}/polymer/polymer.html')
link(rel='import' 
     href='#{bower}/firebase-element/firebase-auth.html')
link(rel='import' 
     href='#{bower}/firebase-element/firebase-document.html')

dom-module(id='ccc-login-info')
  template
    style
      include ccc-login-info.css
    firebase-auth(
       id='firebaseLogin'
       user='{{user}}' 
       status-known='{{statusKnown}}' 
       location='https://brilliant-inferno-5434.firebaseio.com' 
       provider='twitter' 
       on-error='errorHandler'
       on-user-created='userSuccessHandler' 
       on-password-changed='userSuccessHandler' 
       on-password-reset='userSuccessHandler' 
       params='{{params}}' 
       on-user-removed='userSuccessHandler')
     firebase-document(location='https://brilliant-inferno-5434.firebaseio.com/data' id='firebaseDocument')
     
     .horizontal.layout.center(hidden$='{{computeLogoutHidden(statusKnown, user)}}') 
       .username.flex {{user.twitter.username}}
       .avatar
         img(src="{{user.twitter.profileImageURL}}" alt="{{user.twitter.username}}")

  script
    include ccc-login-info.js
